* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;

}

.header {
    display: flex;
    height: 48px;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
}

.header-about {
    margin: 0 5px 0 15px;
    padding: 5px;
    color: #222222;
    font-size: 14px;
}

.header-store {
    margin: 0 5px;
    padding-left: 1px;
    color: #222222;
    font-size: 14px;
}

.header-right {
    display: flex;
    align-content: center;
    align-items: center;
}
.header-gmail {
    margin: -1px 0 0 15px;
    color: #222222;
    font-size: 13px;
}

.header-images {
    margin: -1px 19px 0 15px;
    color: #222222;
    font-size: 13px;
}

.button-apps {
    width: 18px;
    height: auto;
    padding: 11px;
}

.button-apps:focus {
    outline: none;
}

.button-sign-in {
    margin: 0 12px;
    padding: 9px 24.5px;
    font-size: 14px;
    letter-spacing: .25px;
    color: white;
    background-color: #2e74e6;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button-sign-in:hover {
    background-color: #4c87e7;
}

.button-sign-in:focus {
    outline: none;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    /*background-color: #95d459;*/
}

.search-logo {
    margin-top: -110px;
    
    /*background-color: #c4fa91;*/
}

.search-input {
    margin-top: 22px;
    width: 535px;
    height: 44px;
    padding-left: 47px;
    border-radius: 24px;
    border: 1px solid #DFE1E5;

    /*background-color: #c4fa91;*/
}

.search-input:hover {
    box-shadow: 0 0 8px -3px rgb(199, 199, 199);
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    width: 14px;
    height: auto;
    left: 685px;
    top: 392px;
}

.search-voice-icon {
    position: absolute;
    width: 13px;
    height: auto;
    right: 690px;
    top: 390px;
}

.search-submit {
    display: flex;
    margin-top: 28px;
    width: 282px;
    justify-content: space-between;

    /*background-color: #c4fa91;*/
}

.button-search {
    font-size: 14px;
    color: #3C4043;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #F8F9FA;
}

.button-search:hover {
    box-shadow: 0 0 4px -1px rgb(184, 184, 184);   
}

.button-search:focus {
    outline: none;
}

.footer {
    display: flex;
    flex-direction: column;

    background-color: #F2F2F2;
}

.footer-region {
    display: flex;
    align-items: center;
    height: 46px;
    margin-left: 30.5px;
    letter-spacing: 0.45px;

    /*border-bottom: 1px solid rgb(92, 92, 92);*/
    background-color: #F2F2F2;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    height: 46px;

    border-top: 1px solid #DADCE0;
    background-color: #F2F2F2;
}

.footer-links-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    width: 303px;

    background-color: #F2F2F2;
}

.footer-links-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 34px;
    width: 195px;

    background-color: #F2F2F2;
}

a, p {
    font-size: 14px;
    text-decoration: none;
    color: #717171;
}

a:hover {
    text-decoration: underline;

}